.drive-in-images {
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}


.drive-in-images img {
    height: 100%;
    width: 100%;
  }